   .node {
        fill: #ccc;
        margin: auto;
        width: 50%;
    }

    .link {
        stroke: #C5F3FF;
        stroke-width: 2px;
        margin: auto;
        width: 50%;
    }

.node text {
  pointer-events: none;
  font-size: 18px;
  font-family: Lora;
  fill:#fff;
}

.node:hover text {
  display: inline;
}

#photo {
	position: relative;
	height: 30%;
	width: 30%;
}

#picture {
	position: relative;
	width: 500;
	height: auto;
	left: 100px;
}


.card {
   position:relative;
   background-color: #B080F2;
   top:200px;
   margin: 0 auto;

}

svg{
    position: relative;
    width: auto;
    height: auto;
    margin-left: 20px;
}

.text-warning {
  color: #ffc107;
}

#quote {
  font-size: 30px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;


}

.p {
  text-align: left;
}


